<%- include('../partials/admin-header.ejs') %>
  
<div class="col-lg-10">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3 ">
      <nav aria-label="breadcrumb">
        
        <h6 class="font-weight-bolder mb-0"><%= currentPage %></h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 d-flex justify-content-end" id="navbar">

        <ul class="navbar-nav d-flex justify-content-end ">

          <li class="nav-item d-xl-none ps-3 d-flex align-items-center me-2">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>

          <li class="nav-item d-flex align-items-center">
            <a href="/admin/logout" class="nav-link text-body font-weight-bold px-0">
              
              <form action="/admin/logout" method="post">
                <i class="fa fa-user me-sm-1"></i>
                <button class="border-0 bg-transparent text-bold" type="submit"><span class="d-sm-inline d-none opacity-7">Log Out</span></button>
              </form>
              
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

            <div class="container-fluid py-4" style="padding-left: 40px;">
                <div class="row">
                  <div class="col-12" style="    margin-top: -30px;">
                    <div class="card my-4">
                      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between" style="background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);">
                          <h6 class="text-white text-capitalize ps-3">Add Coupon</h6>
            
                        </div>
                      </div>
                      <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
            
                            <!-- Copeid Code Start -->
                            
                                <form action="/admin/coupons/addCoupon" method="post" class="p-4">
            
                                    <div class="form-outline mb-3 row input-group input-group-outline  ">
                                        <div class=" col-md-6 col-12 mb-3">
                                            <label for="code">Coupon Code</label>
                                            <input type="text" id="code" class="form-control form-control-md rounded-0"
                                            placeholder="Enter Coupon Code" name="code" required/>
                                            <small id="codeErr" class="error"></small>
                                        </div>
                                        <div class="col-md-6 col-12">
                                          <label for="discountType">Discount Type</label>
                                          <select name="discountType" id="discountType" class="form-control form-control-md " required>
                                            <% 
                                            couponTypes.forEach((type) => {
                                              %>
                                              <option value="<%= type %>"> <%= type %> </option>
                                              <%  
                                            })
                                            %>
                                          </select>
                                          <small id="discountTypeErr" class="error"></small>
                                      </div>
            
                                    </div>
                                    <div class="form-outline mb-3 row input-group input-group-outline ">
                                      <div class="col-md-6 col-12">
                                        <label for="discountAmount">Discount Amount</label>
                                        <input type="number" id="discount" class="form-control form-control-md rounded-0" placeholder="Enter Discount" name="discountAmount" required/>
                                        <small id="discountAmountErr" class="error"></small>
                                      </div>
                                      <div class="col-md-6 col-12">
                                        <label for="maxDiscountAmount">Max Discount</label>
                                        <input type="number" id="maxDiscountAmount" class="form-control form-control-md rounded-0" placeholder="Enter Max Discount" name="maxDiscountAmount" required/>
                                        <small id="maxDiscountAmountErr" class="error"></small>
                                    </div>
                                  </div>
                                    <div class="form-outline mb-3 row input-group input-group-outline ">
                                        <div class=" col-md-6 col-12 mb-3">
                                            <label for="minPurchase">Min Purchase</label>
                                            <input type="number" id="minPurchase"
                                                class="form-control form-control-md rounded-0" placeholder="Enter Min Purchase." name="minPurchase" required/>
                                            <small id="minPurchaseErr" class="error"></small>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <label for="expiryDate">Expiry Date</label>
                                            <input type="date" id="expiryDate" class="form-control form-control-md rounded-0" placeholder="Enter Expiry Date" name="expiryDate" required/>
                                            <small id="expiryDateErr" class="error"></small>                                     
                                        </div>
                                    </div>
                                    <div class="form-outline mb-3 row input-group input-group-outline ">
                                        <div class="col-md-6 col-12 mb-3">
                                            <label for="description">Description</label>
                                            <input type="text" id="description"
                                                class="form-control rounded-0" placeholder="Enter Coupon Description" name="description" required/>
                                            <small id="descriptionErr" class="error"></small>
                                        </div>
                                        <div class="col-md-6 col-12 mb-3">
                                          <label for="description">Coupon Count</label>
                                          <input type="number" id="couponCount"
                                              class="form-control rounded-0" placeholder="Enter Count (Optional)" name="couponCount"/>
                                          <small id="couponCountErr" class="error"></small>
                                      </div>
                                    </div>
                                    <div class="text-center my-2">
                                        <button class="btn btn-dark btn-md rounded-pill px-5 py-2 login-btn" type="submit" onclick="return validateCoupon()">ADD</button>
                                    </div>
            
                                </form>
            
            
                            <!-- Copeid Code End -->
            
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
</div>


    <script src="/validations/couponValidation.js"></script>


    <script src="/js2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js2/bootstrap.bundle.min.js"></script>
    <script src="/js2/script.js"></script>
    <!-- end: JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
   
   <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"></script>
  </body>
  </html>