

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>F&H Hub</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
   
    <style>
        small.error {
            color: red;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

  <!-- Offcanvas Menu Begin -->
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__option">
          <div class="offcanvas__links">
              <% if (user && user.name) { %>
                  <p>Welcome, <%= user.name %></p>
                  <a href="/logout">Logout</a>
                <% } else { %>
                  <a href="/login">Sign In</a>
                <% } %>
              <a href="#">FAQs</a>
          </div>
          <div class="offcanvas__top__hover">
              <span>Usd <i class="arrow_carrot-down"></i></span>
              <ul>
                  <li>USD</li>
                  <li>EUR</li>
                  <li>USD</li>
              </ul>
          </div>
      </div>
      <div class="offcanvas__nav__option">
          <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
          <a href="#"><img src="img/icon/heart.png" alt=""></a>
          <a href="/shopping-cart"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
          <div class="price">Cart$0.00</div>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__text">
          <p>Free shipping, 30-day return or refund guarantee.</p>
      </div>
  </div>
  <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-6 col-md-7" style="display: flex;
                    align-items: center;">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right ">
                            <div class="header__top__links row" style="display: flex;">
                                <% if (user && user.username !== undefined) { %>
                                    <div class="col-lg-6">
                                        <p style="color:#fff; display: flex;    margin: 0px;
                                        align-items: center;">Welcome   <%= user.username %></p>

                                    </div>
                                    <div class="col-lg-6">
                                    <a href="/logout">Logout</a>

                                    </div>
                                  <% } else { %>
                                   <div class="col-lg-6">
                                    <a href="/login">Sign In</a>
                                   </div>
                                  <% } %>
                                  
                               
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="align-items: center;">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/home"><span style="color: red;
                            font-size: 34px;
                            font-weight: bold;">H&F</span> <span style="font-size: 20px ;color: black;
                            font-weight: 400;">HUB</span></a>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li ><a href="/shop">Shop</a></li>
                           
                            <li><a href="/contact">Contacts</a></li>
                            <li><a href="/orders">Orders</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option row">
                        <div class="col-lg-6">

                           
                        
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->


    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-sm-12">
                    <div class="card shadow-2-strong">
                        <div class=" p-5 ">
                            <div class="text-center">
                                <h3 class="mb-3">Change Password</h3>
                               
                            </div>
                            <form action="/profile/changePassword" method="post" class="d-flex flex-column ">
                                <div class="form-outline mb-3 row">
                                    <div class=" col-md-6 col-12 mb-3">
                                        <label class="form-label" for="fname">Old Password</label>
                                        <input type="password" id="oldPassword" class="form-control form-control-md rounded-0" placeholder="Enter Old Password" name="oldPassword" required/>
                                        <small id="oldPasswordErr" class="error"></small>
                                    </div>
                                </div>
                                <div class="form-outline mb-3 row">
                                    <div class="col-md-6 col-12">
                                        <label class="form-label" for="newPassword">New Password</label>
                                        <input type="password" id="newPassword" class="form-control form-control-md rounded-0" placeholder="Enter New Password" name="newPassword" required/>
                                        <small id="newPasswordErr" class="error"></small>
                                    </div>
                                </div>
                                <div class="form-outline mb-3 row">
                                    <div class=" col-md-6 col-12 mb-3">
                                        <label class="form-label" for="mobile">Confirm Password</label>
                                        <input type="password" id="confirmPassword" class="form-control form-control-md rounded-0" placeholder="Enter New Password Again" name="confirmPassword" required/>
                                        <small id="confirmPasswordErr" class="error"></small>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-dark btn-md rounded-pill px-5 py-2 login-btn" type="submit" onclick="return validatePassword()">Change Password</button>
                                    <p>forgot password? <a href="/forgot-password">reset</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/validations/changePasswordValidation.js"></script>
</body>

</html>
