<!DOCTYPE html>
<html>
<head>
  <title>User Signup</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<style>
  body {
    font-family: Arial, sans-serif;
    background-color:  #f0f4f6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
 
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
   margin-bottom: 0px !important;
    background-color:#fffcfc;
    margin-top: 0px !important;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px !important;
  }

  h2 {
    text-align: center;
 
   
    font-size: 35px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
   
    font-weight: bold;
  }

  input[type="password"],
  input[type="text"] {
    width: 655px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
   
    width: 580px;
    font-size: 14px;

  }

  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
  .form-group{
    margin-bottom: 0px !important;
  }

</style>
</head>
<body>
<div class="container-fluid " style="background-color: #f0f4f6; ">
  <div class="">
  
  </div>
  <div class="animate__animated animate__rubberBand" style=" border-bottom: 1px solid rgb(207, 202, 202);">
<span style="color: red;
    font-size: 45px;
    font-weight: bold;" >H&F</span> <span style="font-size: 20px ;color: black;
    font-weight: 400;">HUB</span></div>
</div>

<div class="row">
<div class="container col-6  animate__animated  animate__bounceInDown"   >
  <div class="container"  style="     box-shadow:none" >
    <!-- <h1 class="animate__animated animate__swing animate__delay-2s">User Signup</h1> -->
  <p id="error-message"></p> 
    <form id="signup-form" method="POST" action="/signup" onsubmit="return validatesignupForm()" style="padding-bottom: 13px;">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" style=" width: 575px; 
        margin-bottom: 5px;" placeholder="Enter your username">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" style=" width: 575px; 
        margin-bottom: 5px;" placeholder="Enter your email ">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <div class="input-group">
          <input type="password" id="password" name="password" class="form-control" style=" width: 575px; 
          margin-bottom: 5px;" placeholder="Enter your password">
          <div class="input-group-append">
            <span class="input-group-text" style="margin-top: 7px;">
              <i class="fas fa-eye-slash" id="togglePassword"></i>
            </span>
          </div>
        </div>
      </div>
      
<div class="form-group">
  <label for="confirmPassword">Confirm Password:</label>
  <div class="input-group">
    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" style=" width: 575px;
    margin-bottom: 5px;" placeholder="Confirm password again">
    <div class="input-group-append">
      <span class="input-group-text" style="margin-top: 7px;">
        <i class="fas fa-eye-slash" id="toggleConfirmPassword"></i>
      </span>
    </div>
  </div>
  <div class="form-outline mb-3 row">
    <div class=" col-12 mb-3">
        <label class="form-label" for="referral">Referral Code</label>
        <input type="referral" id="referral"
            class="form-control form-control-md rounded-0" value="<%= locals.referral %>" placeholder="Enter Referral (Optional)" name="referral"/>
            <small id="referralErr" class="error"></small>
    </div>
</div>
  <div class="signup_link row" style="margin-top: 10px;">
   <div class="col-lg-6" style="  display: flex;
   align-items: center;">
    <a href="/login" class="text-decoration-none  ">Already have an account?</a>

   </div>
   <div class="col-lg-6" style="    display: flex;
 justify-content: end;">
    <button type="submit" class="btn btn-primary btn-signup ">Sign Up With OTP</button>
    
   </div>
  </div>
</div>

     
    </form>
  </div>
  <script>
    function validateSignupForm() {
    var username = document.getElementById('username').value;
    var email = document.getElementById("email").value;
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
    if (username.trim() === "") {
      showError("Username is required");
      return false;
    }
    else if (email.trim() === "") {
      showError("Email is required");
      return false;
    } else if (password.trim() === "") {
      showError("Password is required");
      return false;
    } else if (confirmPassword.trim() === "") {
      showError("Confirm Password is required");
      return false;
    } else if (password !== confirmPassword) {
      showError("Password and Confirm Password do not match");
      return false;
    }

    return true;
  }

    
    function showError(message) {
        var errorElement = document.getElementById("error-message");
        errorElement.innerText = message;
        errorElement.style.color = "red";
    }

    document.getElementById("signup-form").addEventListener("submit", function (event) {
      event.preventDefault();
      var isValid = validateSignupForm();

      if (isValid) {
        this.submit();
      }
      
    });
    const togglePassword = document.querySelector('#togglePassword');
    const passwordInput = document.querySelector('#password');

togglePassword.addEventListener('click', function () {
  const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
  passwordInput.setAttribute('type', type);
  this.classList.toggle('fa-eye');
  this.classList.toggle('fa-eye-slash');
  });
    const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
  const confirmPasswordInput = document.querySelector('#confirmPassword');

  toggleConfirmPassword.addEventListener('click', function () {
    const type = confirmPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
    confirmPasswordInput.setAttribute('type', type);
    this.classList.toggle('fa-eye');
    this.classList.toggle('fa-eye-slash');
  });
  </script>
</body>
</html>
